<div class= "container">
<h1>Stupid Coaching</h1>
<p class= "border-start border-secondary  border-5 m-0 ps-2"><%="    #{@question}" %></p>
<p class= "border-start border-secondary  border-5 ps-2"">-You</p>
<p class= "border-start border-secondary  border-5 m-0 ps-2""><%= @answer %></p>
<p class= "border-start border-secondary  border-5 ps-2"">-Your coach</p>
<%= link_to"Ask a new question", ask_path%>
</div>
